/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #00BFFF;
    color: white;
}

.tabelas {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0 15px 0;
}

.tabelas td, .tabelas th {
  border: 1px solid #B5DDFF;
  padding: 8px;
}

.tabelas tr:nth-child(even){
    background-color: #333;
    color: white;
}

.tabelas tr:hover {
    background-color: #00BFFF;
    color: white;
}

.tabelas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00BFFF;
  color: white;
}

#botaoDeletar {
    background-color: #F5847E;
    text-align: center;
    align-content: center;
    color: white;
    border: none;
    z-index:99999999;
}

#botaoDeletar:hover {
    background-color: red;
    cursor: pointer;
    z-index:99999999;
}

.botao {
    background-color: #333;
    color: white;
    border: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 17px;
    z-index:99999999;
}

.botao:hover {
    background-color: #5C5C5C;
    cursor: pointer;
    z-index:99999999;
}

.formulario {
    margin: 20px 120px 20px 20px;
}

.formulario [type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario [type=submit] {
    width: 10%;
    background-color: #00BFFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*.formulario :hover {
    background-color: #45a049;
}*/